.inbox_bg {
    background: linear-gradient(180deg, #ffffff 0%, #ecebeb 100%);
    height: 100%;

    input {
        outline: none;
        border: none;

        &:focus {
            outline: none;
        }
    }
}

.inbox_container {
    height: calc(100% - 55px);
}
