.r-listings {
  cursor: pointer;
  position: relative;
  top: 0;
  left: 0;
  transition: all 0.8s ease-in-out;
  height: auto;
  margin: 1rem 0;

  .img-container {
    position: relative;
    // height: 75%;
    transition: all 0.8s ease-in-out;

    img {
      width: 100%;
      height: 100%;
    }

    .price {
      position: absolute;
      bottom: 0;
      right: 0;
      background: #fff;
      padding: 0.5rem 1.5rem;
      border: 1px solid #000;
      font-size: 1.1rem;
      transition: all 0.3s ease-in-out;
    }
  }

  &:hover {
    height: auto;
    transition: all 0.3s ease-in-out;
    transform: translateY(-10px);
    padding-bottom: 1rem;
    border: 1px solid #000;
    @include shadow();
  }
}

.s__listing {
  width: 60%;
  margin: 0 1rem;

  &--header {
    margin: 1.5rem 0;
  }

  &--carousel {
    img {
      // width: 100%;
      // height: 500px;
    }
  }

  &--description {
    margin: 2rem 0;
  }

  @include media("<=tablet") {
    width: 100%;
    margin: 0;
  }
}

.s__booking {
  width: 30%;
  position: relative;
  margin: 8rem 2rem;

  &--button {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 1rem;
    background: #fff;
    border: 1px solid #000;
    transition: all 0.8s ease-in-out;

    span {
      font-size: 12px;
      margin: 1rem 0;
    }

    &:hover {
      background: #000;
      transition: all 0.5s ease-in-out;

      svg {
        filter: brightness(0) invert(1);
      }

      span {
        color: #fff;
      }
    }
  }
  @include media("<=phone") {
    width: 100% !important;
    margin: 0 !important;
  }
}

// .s__booking__container {
//   display: grid;
//   grid-template-columns: 70% 30%;
//   column-gap: 1rem;
//   row-gap: 1rem;
// }

// .s__booking {
//   width: 30%;
//   position: relative;
//   margin: 8rem 2rem;

//   &--button {
//     position: relative;
//     display: flex;
//     font-weight: 600;
//     flex-direction: row;
//     // justify-content: space-between;
//     align-items: center;
//     width: 100%;
//     padding: 1rem;
//     background: #fff;
//     border: 1px solid #000;
//     transition: all 0.8s ease-in-out;

//     span {
//       font-size: 0.9rem;
//       margin: 1rem 0;
//       flex: 1;
//     }
//   }

//   @include media("<=tablet") {
//     width: 100%;
//     margin: 0;
//   }
// }

.add-listing-form {
  width: 800px;

  @include media("<=tablet") {
    width: 100%;
    margin: 0.2rem;
  }
}

.tour-status {
  width: auto;
  height: 40px;
  color: #000;
  font-size: 12px;
  padding: 0.1rem 1rem;
  border-radius: 5rem;
}
.listings-tab-active {
  transition: all 0.2s ease-in;
  border-bottom: 2px solid black !important;
}

.hover-svg {
  transition: all 0.5s ease-in;

  &:hover {
    transition: all 0.8s ease-in-out;

    svg {
      filter: brightness(0) invert(1);
      transition: all 0.8s ease-in-out;
    }
  }
}

.select__control {
  padding: 0.5rem !important;
  border-radius: 0px !important;
  outline: none !important;
}

.select__multi-value__label {
  padding: 10px !important;
}

.select__multi-value__remove {
  margin-right: 5px !important;
}

.select__menu {
  padding: 0.5rem !important;
  border-radius: 0px !important;
}

.react-calendar {
  border: none !important;
}

.react-calendar__tile {
  border: 1px solid #e5e5e5 !important;
}

.react-calendar__month-view__days__day--weekend {
  color: #000 !important;
}

.react-calendar__tile--active {
  background: #000 !important;
  color: white !important;
}

.react-calendar__tile--now {
  background: rgb(35, 105, 255) !important;
  color: white !important;
}

.disable-scroll {
  height: 450px;
}

.disable-scroll::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}

.custom__input {
  input {
    outline: none;
    border: 1px solid black;

    &::placeholder {
      color: #333333;
    }

    &:focus {
      outline: none;
    }
  }
}

// .custom_style {
//   display: grid;
//   grid-template-columns: 60% 40%;
//   column-gap: 5rem;
// }

// .amenities {
//   display: grid;
//   grid-template-columns: 60% 40%;
// }
